header{
    display: flex;
    align-content: start;
    margin: 0 px;
    background-color: aqua;
}

#logo{
    text-align: start;
    display: block;
}

h1{
    margin: 0px;
}

header #h3{
    margin: 0px;
}

body{
    /* display: flex; */
    text-align: center;
    justify-self: center;
    justify-content: center;
    margin:0px;
    padding:0px;
}